.dj-only{
	display: none;

	.is-dj &{
		display: block;
	}
}

.party-page{
	@include scut-clearfix;
	background: red;
	@include transition(background-color, 1000ms, ease-in-out);
}

.participant {
	background:red;


}




	.party-page .header {
		display:none;
	}

	.party-page .header-playback {
		display:block;
	}

	.header-playback {
	position:absolute;
	width:100%;
	margin:0;
	top:0;
	height:75px;
	z-index: 10;
}