.dj-only{
	display: none;

	.is-dj &{
		display: block;

	}
}

.not-dj {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.dj-section, .dj-section > div{
	@include scut-clearfix;
}

.party-page{
	@include scut-clearfix;
	background: white;
	@include transition(background-color, 500ms, ease-in-out);
}

.participant {

}

.party-page .header {
	display:none;
}

.party-page .header-playback {
	display:block;
}

.header-playback {
	position:absolute;
	width:100%;
	margin:0;
	top:0;
	height:75px;
	z-index: 10;
}